{{!-- // Citation for the following webpage:
// Date: 3/1/2024
// The following source was used to write the following code
// Code source:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}

<br>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<div id="customers-table-div">
    <fieldset>
        <legend><strong>Customers</strong></legend>
        <table id="customers-table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr data-value={{this.customer_id}}>
                    <td>{{this.customer_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td><button onClick="updateCustomer({{this.customer_id}})">Edit</button></td>
                    <td><button onClick="deleteCustomer({{this.customer_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
</div>

<script src=".js/update_customer.js"></script>
<script src="./js/delete_customer.js"></script>


<div id="insertCustomer">
    <form method="POST" id="add-customer-form-ajax">
        <fieldset class="fields">
            <legend><strong>Add Customer</strong></legend>
            <label> Full Name </label> <input type="text" name="fullname" id="fullname">
            <label> Email</label> <input type="text" name="email" id="email">
            <input type="submit">
        </fieldset>
    </form>
</div>

<script src="./js/add_customer.js"></script>