{{!-- Citation for the following webpage and database project:

A sample code from a similar front and backend CRUD implementation was used to write our project code.
Date: 3 / 18 / 2024
Sample code source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
Sample code authors/GitHub users: gkochera - George Kochera, Dr.Curry - currym - osu, Cortona1, and dmgs11 --}}

<br>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<div>
    <fieldset>
        <legend><strong>Customers</strong></legend>
        <table id="customers-table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr data-value={{this.customer_id}}>
                    <td>{{this.customer_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td><button onClick="deleteCustomer({{this.customer_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
</div>

<script src="./js/delete_customer.js"></script>

<br>

<div>
    <form method="POST" id="add-customer-form-ajax">
        <fieldset class="fields">
            <legend><strong>Add Customer</strong></legend>
            <label> Full Name </label> <input type="text" name="fullname" id="fullname">
            <label> Email</label> <input type="text" name="email" id="email">
            <input class="buttons" type="submit">
        </fieldset>
    </form>
</div>

<script src="./js/add_customer.js"></script>

<br>
<div>
    <fieldset>
        <legend><strong>Update A Customer's Information</strong></legend>
        <form id="update-customer-form-ajax">
            <label for="update-customerID">Choose a Customer: </label>
            <select name="update-customerID" id="update-customerID">
                <option value="">Select a Customer</option>
                {{#each data}}
                <option value="{{this.customer_id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <label for="updateCustName">Customer Name: </label>
            <input type="text" name="updateCustName" id="updateCustName">
            <label for="updateCustEmail">Email Address: </label>
            <input type="text" name="updateCustEmail" id="updateCustEmail">

            <input class="buttons" type="submit">
        </form>
    </fieldset>
</div>

<script src="./js/update_customer.js"></script>