{{!-- // Citation for the following webpage:
// Date: 3/1/2024
// The following source was used to write the following code
// Code source:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}

<br>

<div>
    <fieldset>
        <legend><strong>Books Sold</strong></legend>
        <table id="sale_books_table">
            <thead>
                <tr>
                    <th>Book Sale ID</th>
                    <th>Sale ID</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr data-value={{this.sales_has_books_id}}>
                    <td>{{this.sales_has_books_id}}</td>
                    <td>{{this.sale}}</td>
                    <td>{{this.book}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
</div>

<br>

<div>
    <form method="POST" id="addBookSale">
        <fieldset class="fields">
            <legend><strong>Add Book Sale</strong></legend>
            <label> Sale ID</label> 
            <select name="bookSale-saleinput" id="bookSale-saleinput">
                <option>Select a Sale ID</option>
                {{#each sales}}
                <option>{{this.sale_id}}</option>
                {{/each}}
            </select>

            <label> Book </label>
            <select name="bookSale-bookinput" id="bookSale-bookinput">
                <option>Select a Book</option>
                {{#each books}}
                <option value="{{this.book_id}}">{{this.title}}</option>
                {{/each}}
            </select>

            <input class="btn" type="submit" value="Add">
        </fieldset>
    </form>
</div>

