{{! // Citation for the following webpage:
// Date: 3/1/2024
// The following source was used to write the following code
// Code source:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data }}

<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>
<br />

<div>
  <fieldset>
    <legend><strong>Books In A Sale</strong></legend>
    <table id="sale_books_table">
      <thead>
        <tr>
          <th>Books In A Sale ID</th>
          <th>Sale ID</th>
          <th>Book</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr data-value={{this.sales_has_books_id}}>
            <td>{{this.sales_has_books_id}}</td>
            <td>{{this.sale}}</td>
            <td>{{this.title}}</td>
            <td><button
                onclick="deleteSalesHasBooks({{this.sales_has_books_id}})"
              >Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </fieldset>
</div>

<script src="./js/delete_sales_has_books.js"></script>

<br />

<div id="addSalesBooksDiv">
  <fieldset>
    <legend><strong>Add Books in a Sale</strong></legend>
    <p>Please enter all fields</p>
    <form id="add-sales-has-books-form-ajax">

      <label for="input-sale">Sale: </label>
      <select name="input-sale" id="input-sale">
        <option>Select a Sale ID</option>
        {{#each sales}}
          <option>{{this.sale_id}}</option>
        {{/each}}
      </select>

      <label for="input-book">Book: </label>
      <select name="input-book" id="input-book">
        <option>Select a Book</option>
        {{#each books}}
          <option value="{{this.book_id}}">{{this.title}}</option>
        {{/each}}
      </select>

      <input type="submit" />
    </form>
  </fieldset>
</div>
<script src="./js/add_sales_has_books.js"></script>

<br />

<fieldset>
  <legend><strong>Update Books in a Sale</strong></legend>
  <p>Please enter all fields</p>
  <form id="update-sales-has-books-form-ajax">
    <label for="update-books-saleID">Books In A Sale ID: </label>
    <select name="update-books-saleID" id="update-books-saleID">
      <option value="">Select an ID</option>
      {{#each data}}
        <option
          value="{{this.sales_has_books_id}}"
        >{{this.sales_has_books_id}}</option>
      {{/each}}
    </select>

    <label for="newSale">Sale ID:</label>
    <select name="newSale" id="newSale">
      <option>Select a Sale ID</option>
      {{#each sales}}
        <option>{{this.sale_id}}</option>
      {{/each}}
    </select>

    <label for="newBook">Book:</label>
    <select name="newBook" id="newBook">
      <option>Select a Book</option>
      {{#each books}}
        <option value="{{this.book_id}}">{{this.title}}</option>
      {{/each}}
    </select>

    <input class="buttons" type="submit" />
  </form>
</fieldset>

<script src="./js/update_sales_has_books.js"></script>