{{!-- Citation for the following webpage and database project:

A sample code from a similar front and backend CRUD implementation was used to write our project code.
Date: 3 / 18 / 2024
Sample code source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
Sample code authors/GitHub users: gkochera - George Kochera, Dr.Curry - currym - osu, Cortona1, and dmgs11 --}}

<br>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<fieldset>
    <legend><strong>Stores</strong></legend>
    <table id="stores-table">
        <thead>
            <tr>
                <th>Store ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value={{this.store_id}}>
                <td>{{this.store_id}}</td>
                <td>{{this.store_name}}</td>
                <td>{{this.store_address}}</td>
                <td><button onclick="deleteStore({{this.store_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</fieldset>
<script src="./js/delete_store.js"></script>

<br>

<fieldset class="fields">
    <form id="add-store-form-ajax">
        <legend><strong>Add A Store</strong></legend>
        <label> Name </label> <input type="text" name="storeName" id="storeName">
        <label> Store Address</label> <input type="text" name="storeAddress" id="storeAddress">
        <input class="buttons" type="submit">
    </form>
</fieldset>
<script src="./js/add_store.js"></script>

<br>

<fieldset>
    <legend><strong>Update A Store</strong></legend>
    <form id="update-store-form-ajax">
        <label for="update-storeID">Choose a Store: </label>
        <select name="update-storeID" id="update-storeID">
            <option value="">Choose a Store</option>
            {{#each data}}
            <option value="{{this.store_id}}">{{this.store_name}}</option>
            {{/each}}
        </select>
        <label for="updateStoreName">Store Name: </label>
        <input type="text" name="updateStoreName" id="updateStoreName">
        <label for="updateStoreAddress">Store Address: </label>
        <input type="text" name="updateStoreAddress" id="updateStoreAddress">

        <input class="buttons" type="submit">
    </form>
</fieldset>
<script src="./js/update_store.js"></script>


